<section class="banner">
  <div class="banner-slide active" style="background-image: url('img/bannerpl1.jpg');"></div>
  <div class="banner-slide" style="background-image: url('img/bannerpl2.jpg');"></div>
  <div class="banner-slide" style="background-image: url('img/banner2.png');"></div>
  <div class="banner-slide" style="background-image: url('img/bannerpl3.jpg');"></div>

  <div class="banner-content">
    <h1>Welcome to TrantinDat</h1>
    <p>Hương vị đậm đà, phong cách đậm chất riêng</p>
    <a href="product.html" class="banner-btn">Mua ngay</a>
  </div>

  <div class="banner-dots" id="banner-dots"></div>
</section>
