<!-- components/category-section.html -->
<section class="category-section">
  <h2 class="section-title">Danh mục sản phẩm</h2>
  <div class="category-list">

    <a href="product.html?category=Cà phê" class="category-item">
      <img src="img/cate1.jpg" alt="Phin Mê">
      <div class="category-title">Cà phê Phin Mê</div>
    </a>

    <a href="product.html?category=Trà" class="category-item">
      <img src="img/cate2.png" alt="Ba Lá">
      <div class="category-title">Trà Ô Long Ba Lá</div>
    </a>

    <a href="product.html?category=Trà trái cây" class="category-item">
      <img src="img/cate3.png" alt="Hồng Đài">
      <div class="category-title">Trà Đào Hồng Đài</div>
    </a>

  </div>
</section>
